In [232]:
# File responsble for the creation of individual datasets with added noise (for the purpose of testing the robustness of the model)

In [233]:
# imports required
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [234]:
# read the data, and display head
data = pd.read_csv('Thorax_and_Wing_traits.csv')
print(data.head())
# print("Data shape: ", data.shape)
# print("Column data types: ", data.dtypes)
# print("Summary: ", data.info())

       Species Population  Latitude  Longitude  Year_start  Year_end  \
0  D._aldrichi    Binjour    -25.52     151.45        1994      1994
1  D._aldrichi    Binjour    -25.52     151.45        1994      1994
2  D._aldrichi    Binjour    -25.52     151.45        1994      1994
3  D._aldrichi    Binjour    -25.52     151.45        1994      1994
4  D._aldrichi    Binjour    -25.52     151.45        1994      1994

   Temperature  Vial  Replicate     Sex Thorax_length     l2    l3p    l3d  \
0           20     1          1  female         1.238  2.017  0.659  1.711
1           20     1          1    male         1.113  1.811  0.609  1.539
2           20     1          2  female         1.215  1.985  0.648  1.671
3           20     1          2    male         1.123  1.713  0.596  1.495
4           20     2          1  female         1.218  1.938  0.641  1.658

     lpd     l3     w1     w2     w3 wing_loading
0  2.370  2.370  1.032  1.441  1.192        1.914
1  2.148  2.146  0.938  1.299  1.066        1.928
2  2.319  2.319  0.991  1.396  1.142        1.908
3  2.091  2.088  0.958  1.286  1.062        1.860
4  2.298  2.298  1.010  1.418  1.148        1.886

In [235]:
# data preprocessing

# combine species and population
data["Species_Population"] = data["Species"] + "_" + data["Population"]

# drop columns that are not required
columns_to_drop = ["Year_start", "Year_end", "Vial", "Replicate", "Species", "Population", "Temperature"]
columns_to_drop = [col for col in columns_to_drop if col in data.columns]
data = data.drop(columns_to_drop, axis=1)

In [236]:
# convert categorical columns to numerical
le = LabelEncoder()
data["Species_Population"] = le.fit_transform(data["Species_Population"])
data['Sex'] = le.fit_transform(data['Sex'])

print(data.dtypes)

Latitude              float64
Longitude             float64
Sex                     int32
Thorax_length          object
l2                    float64
l3p                   float64
l3d                   float64
lpd                   float64
l3                    float64
w1                    float64
w2                    float64
w3                    float64
wing_loading           object
Species_Population      int32
dtype: object

In [237]:
# Attempt to convert 'Thorax_length' and 'wing_loading' to numeric, coercing errors
data["Thorax_length"] = pd.to_numeric(data["Thorax_length"], errors="coerce")
data["wing_loading"] = pd.to_numeric(data["wing_loading"], errors="coerce")

print("NaN in Thorax_length:", data["Thorax_length"].isna().sum())
print("NaN in wing_loading:", data["wing_loading"].isna().sum())

data.dropna(subset=["Thorax_length", "wing_loading"], inplace=True)

NaN in Thorax_length: 1
NaN in wing_loading: 1

In [242]:
# remove outliers who have 0 in any of the columns
columns_to_check = [
    "Thorax_length",
    "l2",
    "l3p",
    "l3d",
    "lpd",
    "l3",
    "w1",
    "w2",
    "w3",
    "wing_loading",
]

mask = (data[columns_to_check] == 0).any(axis=1)
data_cleaned = data[~mask]

print(data_cleaned.head())

    Latitude  Longitude  Sex  Thorax_length     l2    l3p    l3d    lpd  \
0     -25.52     151.45    0          1.238  2.017  0.659  1.711  2.370
1     -25.52     151.45    1          1.113  1.811  0.609  1.539  2.148
2     -25.52     151.45    0          1.215  1.985  0.648  1.671  2.319
3     -25.52     151.45    1          1.123  1.713  0.596  1.495  2.091
4     -25.52     151.45    0          1.218  1.938  0.641  1.658  2.298
5     -25.52     151.45    1          1.104  1.794  0.585  1.525  2.110
6     -25.52     151.45    1          1.127  1.833  0.596  1.558  2.154
7     -25.52     151.45    1          1.102  1.774  0.568  1.492  2.059
8     -25.52     151.45    0          1.214  2.002  0.657  1.689  2.346
9     -25.52     151.45    1          1.115  1.773  0.601  1.504  2.105
10    -25.52     151.45    0          1.154  1.857  0.629  1.590  2.218
11    -25.52     151.45    1          1.155  1.751  0.575  1.507  2.083
12    -25.52     151.45    0          1.239  1.974  0.651  1.680  2.330
13    -25.52     151.45    0          1.244  2.005  0.647  1.680  2.327
14    -25.52     151.45    1          1.169  1.845  0.632  1.539  2.170
15    -25.52     151.45    1          1.123  1.726  0.617  1.440  2.059
16    -25.52     151.45    1          1.108  1.799  0.624  1.507  2.131
17    -25.52     151.45    0          1.225  1.932  0.657  1.606  2.262
18    -25.52     151.45    1          1.124  1.720  0.607  1.460  2.067
19    -25.52     151.45    0          1.207  1.979  0.619  1.684  2.302
20    -25.52     151.45    1          1.120  1.835  0.604  1.545  2.149
21    -25.52     151.45    0          1.230  1.969  0.653  1.624  2.277
22    -25.52     151.45    0          1.215  1.959  0.661  1.661  2.322
23    -25.52     151.45    1          1.088  1.766  0.578  1.484  2.061
24    -25.52     151.45    0          1.203  1.893  0.615  1.583  2.198
25    -25.52     151.45    1          1.151  1.862  0.601  1.573  2.173
26    -25.52     151.45    0          1.214  1.923  0.655  1.656  2.296
27    -25.52     151.45    1          1.138  1.729  0.589  1.467  2.056
28    -25.52     151.45    0          1.170  1.814  0.621  1.539  2.160
29    -25.52     151.45    1          1.145  1.828  0.602  1.564  2.166
30    -25.52     151.45    0          1.212  1.975  0.666  1.640  2.306
31    -25.52     151.45    1          1.108  1.861  0.608  1.584  2.191
32    -25.52     151.45    0          1.269  1.980  0.667  1.685  2.353
33    -25.52     151.45    1          1.126  1.829  0.634  1.515  2.149
34    -25.52     151.45    0          1.229  1.951  0.662  1.663  2.325
35    -25.52     151.45    1          1.123  1.836  0.566  1.579  2.145
36    -25.52     151.45    0          1.215  1.946  0.640  1.692  2.332
37    -25.52     151.45    1          1.100  1.834  0.582  1.550  2.132
38    -25.52     151.45    0          1.232  1.991  0.648  1.691  2.339
39    -25.52     151.45    1          1.111  1.712  0.566  1.522  2.087
40    -25.52     151.45    0          1.225  1.987  0.648  1.702  2.350
41    -25.52     151.45    1          1.134  1.797  0.589  1.538  2.128
42    -25.52     151.45    0          1.282  2.031  0.665  1.695  2.359
43    -25.52     151.45    1          1.138  1.755  0.600  1.495  2.095
44    -25.52     151.45    0          1.240  1.972  0.654  1.652  2.306
45    -25.52     151.45    0          1.233  1.935  0.629  1.676  2.306
46    -25.52     151.45    1          1.145  1.782  0.605  1.490  2.096
47    -25.52     151.45    0          1.232  1.986  0.679  1.655  2.333
48    -25.52     151.45    1          1.137  1.868  0.624  1.569  2.193
49    -25.52     151.45    0          1.239  2.012  0.635  1.729  2.364
50    -25.52     151.45    0          1.134  1.732  0.595  1.483  2.078
51    -25.52     151.45    1          1.097  1.636  0.578  1.391  1.969
52    -25.52     151.45    0          1.152  1.849  0.600  1.598  2.197
53    -25.52     151.45    1          1.091  1.716  0.582  1.441  2.023
54    -25.52     151.45    0          1.143  1.664  0.632  1.354  1.986

       l3     w1     w2     w3  wing_loading  Species_Population
0   2.370  1.032  1.441  1.192         1.914                   0
1   2.146  0.938  1.299  1.066         1.928                   0
2   2.319  0.991  1.396  1.142         1.908                   0
3   2.088  0.958  1.286  1.062         1.860                   0
4   2.298  1.010  1.418  1.148         1.886                   0
5   2.107  0.919  1.285  1.046         1.909                   0
6   2.152  0.952  1.311  1.089         1.909                   0
7   2.058  0.923  1.277  1.065         1.867                   0
8   2.345  1.002  1.421  1.146         1.932                   0
9   2.105  0.919  1.271  1.048         1.888                   0
10  2.218  0.966  1.348  1.096         1.921                   0
11  2.082  0.957  1.308  1.070         1.803                   0
12  2.328  1.025  1.438  1.154         1.879                   0
13  2.327  1.029  1.428  1.186         1.870                   0
14  2.168  0.944  1.318  1.093         1.855                   0
15  2.058  0.853  1.209  0.986         1.832                   0
16  2.130  0.962  1.303  1.103         1.922                   0
17  2.262  1.011  1.390  1.161         1.847                   0
18  2.067  0.985  1.289  1.106         1.838                   0
19  2.301  1.003  1.411  1.158         1.907                   0
20  2.147  0.930  1.313  1.055         1.917                   0
21  2.276  1.017  1.396  1.188         1.851                   0
22  2.319  1.021  1.434  1.142         1.909                   0
23  2.061  0.929  1.307  1.034         1.894                   0
24  2.196  0.966  1.363  1.101         1.825                   0
25  2.173  0.932  1.314  1.076         1.887                   0
26  2.295  1.016  1.421  1.135         1.891                   0
27  2.055  0.950  1.289  1.063         1.807                   0
28  2.158  0.980  1.347  1.092         1.845                   0
29  2.164  0.963  1.347  1.073         1.891                   0
30  2.305  1.031  1.439  1.166         1.901                   0
31  2.190  0.968  1.333  1.096         1.976                   0
32  2.351  1.039  1.451  1.167         1.853                   0
33  2.148  0.945  1.310  1.084         1.908                   0
34  2.323  1.044  1.432  1.183         1.890                   0
35  2.144  0.918  1.300  1.071         1.909                   0
36  2.330  0.990  1.408  1.118         1.917                   0
37  2.131  0.913  1.292  1.052         1.938                   0
38  2.339  1.030  1.418  1.191         1.899                   0
39  2.084  0.939  1.277  1.041         1.875                   0
40  2.349  1.022  1.418  1.170         1.918                   0
41  2.125  0.918  1.306  1.026         1.873                   0
42  2.359  1.041  1.456  1.191         1.839                   0
43  2.094  0.961  1.304  1.082         1.840                   0
44  2.305  1.010  1.417  1.148         1.859                   0
45  2.304  1.012  1.410  1.152         1.868                   0
46  2.095  0.934  1.300  1.055         1.830                   0
47  2.333  1.017  1.413  1.183         1.894                   0
48  2.192  0.960  1.339  1.102         1.927                   0
49  2.362  1.043  1.447  1.201         1.906                   0
50  2.076  0.922  1.250  1.060         1.831                   0
51  1.966  0.886  1.209  0.980         1.792                   0
52  2.194  0.958  1.314  1.114         1.905                   0
53  2.022  0.893  1.224  1.026         1.853                   0
54  1.985  0.924  1.225  1.043         1.736                   0

In [239]:
# Assertions to check if the data is clean and in expected format
assert data.isnull().sum().sum() == 0, "There are missing values in the DataFrame"
assert data["Sex"].nunique() == 2, "Unexpected number of unique values for 'Sex'"
assert (
    data["Species_Population"].nunique() == 10
), "Unexpected number of unique values for 'Species_Population'"

# Ensure all specified measurements are greater than 0
assert (data["Thorax_length"] > 0).all(), "Non-positive values found in Thorax_length"
assert (data["l2"] >= 0).all(), "Non-positive values found in l2"
assert (data["l3p"] >= 0).all(), "Non-positive values found in l3p"
assert (data["l3d"] >= 0).all(), "Non-positive values found in l3d"
assert (data["lpd"] >= 0).all(), "Non-positive values found in lpd"
assert (data["l3"] >= 0).all(), "Non-positive values found in l3"
assert (data["w1"] >= 0).all(), "Non-positive values found in w1"
assert (data["w2"] >= 0).all(), "Non-positive values found in w2"
assert (data["w3"] >= 0).all(), "Non-positive values found in w3"
assert (data["wing_loading"] >= 0).all(), "Non-positive values found in wing_loading"

In [240]:
# save data to a new file
data.to_csv("Cleaned_data.csv", index=False)